body {
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.menu ul li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

h1 {
    text-align: center;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circular-images {
    text-align: center;
    display: flex;
}

.circle-image {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 150px;
    height: 150px;
    margin: 10px;
}

p {
    text-align: justify;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: underline;
}

iframe {
    display: block;
    margin: 0 auto;
}

.calendar {
    display: block;

}

button {
    display: block;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

